<div class="alert alert-success mx-auto text-center" role="alert" style="max-width: 300px;">
    Tạo mật khẩu thành công
</div>
<div class="text-center"><a href="/signin" class="btn btn-success mx-auto">Quay lại trang đăng nhập</a></div>