<div class="alert alert-success mx-auto text-center" role="alert" style="max-width: 300px;">
    {{msg}}
</div>
<div class="text-center"><a href="{{link}}" class="btn btn-success mx-auto">{{text}}</a></div>