<form method="POST" action="/signup" class="mx-auto" style="max-width: 300px;">
  {{!-- <div class="form-group">
    <label for="username">ID tài khoản</label>
    <input name="username" type="text" class="form-control" id="username">
  </div> --}}
  <div class="form-group">
    <label for="password">Mật khẩu</label>
    <input name="password" type="password" class="form-control" id="password" value="admin">
  </div>
  <div class="form-group">
    <label for="retypePwd">Nhập lại mật khẩu</label>
    <input name="retypePwd" type="password" class="form-control" id="retypePwd" value="admin">
  </div>
  <button type="submit" class="btn btn-primary">Đăng ký</button>
</form>