<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <style>
        .loader {
            display: block;
            position: fixed;
            top: 40%;
            left: 45%;
            border: 16px solid #f3f3f3;
            /* Light grey */
            border-top: 16px solid #3498db;
            border-bottom: 16px solid #3498db;
            /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>

<body style="margin:0;">
    <div class="loader" style="display: none"></div>
    <div class="container" >
        <div class="row alert alert-info mb-0">
            <div class="col text-center">
                <div class="font-weight-bold" role="alert">
                    Hệ thống thanh toán chi phí điều trị Covid.
                </div>
            </div>
        </div>
        <div class="row py-4 bg-light">
            <div class="col">
                {{{body}}}

            </div>
        </div>
        <div class="row mt-4 shadow alert bg-dark ">
            <div class="col text-center">
                <div class="font-weight-bold text-light" role="alert">
                    HCMUS @copyright
                </div>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
    <script>
        {{!-- window.onload = (event) => {
            setTimeout(function () {
                document.querySelector('.loader').style.display = 'none'
                document.querySelector('.container').style.display = 'block'
            }
                , 1000);
        }; --}}
    </script>
</body>

</html>