<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../assets/css/all.min.css" />
  <script src="../assets/js/jquery-3.6.0.min.js"></script>
  <script src="../assets/js/popper.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
  <script src="../assets/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/js/all.min.js"></script>
  <link rel="stylesheet" href="../assets/css/main.css" />
</head>

<body>
  <header id="main-navbar" class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <h4 class="navbar-brand my-0" href="#">COVID-WEBAPP</h4>
    <form class="form-inline my-2 my-lg-0 border border-dark rounded-pill overflow-hidden flex-grow-1 bg-white mr-auto">
      <div class="input-group flex-grow-1">
        <input class="form-control border-0  shadow-none" type="text" placeholder="Tìm kiếm" aria-label="Search"
          name='search'>
        <div class="input-group-prepend">
          <button class="btn text-center" type="submit"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </form>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#sidebar"
      aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <button class="navbar-toggler  border-0" type="button" data-toggle="collapse" data-target="#account-menu"
      aria-controls="account-menu" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-ellipsis-v"></i>
    </button>
    <div class="collapse navbar-collapse flex-grow-0 text-right" id="account-menu">
      <div class="btn-group nav-item dropdown ml-auto">
        <a class="nav-link dropdown-toggle" href="#" id="account-menu__sections" role="button" data-toggle="dropdown"
          aria-expanded="false">
          <img src="../assets/img/avt.jpg" alt="" srcset="" class="rounded-circle" style="width:42px">
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="account-menu__sections">
          <a class="dropdown-item " href="#">
            <i class="fas fa-user mr-1"></i>
            Tài khoản của tôi
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <i class="fas fa-sign-out-alt mr-1"></i>
            Đăng xuất
          </a>
        </div>
      </div>

      </ul>
    </div>



  </header>
  <div class="main-content container-fluid">
    <div class="row">
      <nav class="col-md-3 col-lg-2 collapse navbar-collapse d-md-block sidebar bg-light" id="sidebar">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center justify-content-md-start justify-content-center" href="#"
                aria-current="page">
                <i class="fas fa-home"></i>
                <span class="ml-2">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center justify-content-md-start justify-content-center" href="#">
                <i class="fas fa-users"></i>
                <span class="ml-2">Nguời liên quan Covid-19</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center justify-content-md-start justify-content-center" href="#">
                <i class="fas fa-fish"></i>
                <span class="ml-2"> Nhu yếu phẩm</span>
              </a>
            </li>

            <li class="nav-item ">
              <a class="nav-link d-flex align-items-center justify-content-md-start justify-content-center" href="#">
                <i class="fas fa-box"></i>
                <span class="ml-2">Gói nhu yếu phẩm</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <main class="col-md-9 ml-sm-auto col-lg-10">
        <!-- Danh sách người covid 19 -->
        <div id="content-1" class="content" value="people">
          <h3 class="text-md-left text-center">Danh sách người liên quan Covid-19</h3>
          <div class="sub-navbar d-flex justify-content-md-between flex-md-row flex-column my-4"
            style="font-size:.9rem">
              <!-- Search-form -->
              <form id='sub-nav__search-form' class="form-inline" action="/manager/people" method="GET">
                <div class="form-group mb-2">
                  <label for="sub-nav__search-input">Tìm kiếm</label>
                  <input type="text" class="form-control shadow-none mx-sm-2" id="sub-nav__search-input" name="search"></input>
                </div>
              </form>
           
            <!-- Sort -->
            <form id='sortby-form'  class="form-inline" action="/manager/people">
              <div class="form-group mb-2">
                <label for="sub-nav__sort-by">Sắp xếp theo</label>
                <select class="form-control shadow-none custom-select mx-sm-2" id="sub-nav__sort-by" aria-label="sort-by" nam="sort_by">
                  <option class="py-1" value="name-ascending" data-filter="&sortby=(name:asc)">Tên: A &rarr; Z</option>
                  <option class="py-1" value="name-descending" data-filter="&sortby=(name:desc)">Tên: Z &rarr; A</option>
                  <option class="py-1" value="year-ascending" data-filter="&sortby=(year:asc)">Năm sinh: Tăng dần</option>
                  <option class="py-1" value="year-descending" data-filter="&sortby=(year:desc)">Năm sinh: Giảm dần</option>
                  <option class="py-1" value="status-ascending" data-filter="&sortby=(name:asc)">Trạng thái: F0 &rarr; F3</option>
                  <option class="py-1" value="status-descending" data-filter="&sortby=(name:desc)">Trạng thái: F3 &rarr; F1</option>
                </select>
              </div>
            </form>
          </div>

          <div class="table-responsive-xl table-hover">
            <table class="table table-bordered table-content">
              <thead class="thead-light">
                <tr>
                  <th scope="col d-flex align-items-center">#</th>
                  <th scope="col">Họ tên</th>
                  <th scope="col">CMND/CCCD</th>
                  <th scope="col">Năm sinh</th>
                  <th scope="col">Địa chỉ</th>
                  <th scope="col">Trạng thái</th>
                  <th scope="col">Nơi đang điều trị/cách ly</th>
                </tr>
              </thead>
              <tbody>
                <tr class="">
                  <th scope="row">1</th>
                  <td>Nguyễn Tuấn Khanh</td>
                  <td>012345678912</td>
                  <td>2001</td>
                  <td>Bình Phước</td>
                  <td>F1</td>
                  <td>Bình Phước</td>
                </tr>
                <tr class="">
                  <th scope="row">2</th>
                  <td class="name">Nguyễn Tuấn Khanh</td>
                  <td>012345678912</td>
                  <td class="year">2001</td>
                  <td>Bình Phước</td>
                  <td class="status">F1</td>
                  <td>Bình Phước</td>
                </tr>
                <tr class="">
                  <th scope="row">3</th>
                  <td>A</td>
                  <td>012345678912</td>
                  <td>2001</td>
                  <td>Bình Phước</td>
                  <td>F1</td>
                  <td>Bình Phước</td>
                </tr>
                <tr class="">
                  <th scope="row">4</th>
                  <td>Nguyễn Tuấn Khanh</td>
                  <td>012345678912</td>
                  <td>2001</td>
                  <td>Bình Phước</td>
                  <td>F1</td>
                  <td>Bình Phước</td>
                </tr>
                <tr class="">
                  <th scope="row">5</th>
                  <td>N</td>
                  <td>012345678912</td>
                  <td>2001</td>
                  <td>Bình Phước</td>
                  <td>F1</td>
                  <td>Bình Phước</td>
                </tr>
                <tr class="">
                  <th scope="row">6</th>
                  <td>B</td>
                  <td>012345678912</td>
                  <td>2001</td>
                  <td>Bình Phước</td>
                  <td>F1</td>
                  <td>Bình Phước</td>
                </tr>
                <tr class="">
                  <th scope="row">7</th>
                  <td>H</td>
                  <td>012345678912</td>
                  <td>2001</td>
                  <td>Bình Phước</td>
                  <td>F1</td>
                  <td>Bình Phước</td>
                </tr>

              </tbody>
            </table>
          </div>
          <div id="page-content"></div>
          <nav id="main-pagination" aria-label="Search results pages"></nav>
        </div>
        <footer class="container-fluid py-3 my-4 border-top">
          <div class="d-flex align-items-center justify-content-center">
            <span class="text-muted">© 2021 Company, Inc</span>
          </div>
        </footer>

      </main>
    </div>
  </div>
  <!-- Begin:  Main content-->
  <!-- <div class="col-lg-auto col-auto content">
        <div class="row justify-content-between align-items-center">
          <nav class="navbar navbar-light ">
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Search" />
              <button class="btn btn-outline-green my-2 my-sm-0" type="submit">
                Tìm kiếm
              </button>
            </form>
            <div class="dropdown">
              <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-expanded="false">
                <img src="../assets/img/avt.jpg" class="rounded avt-sm" alt="..." />
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item text-default" href="#">
                  <i class="fas fa-user mr-2"></i>
                  Tài khoản của tôi
                </a>
                <a class="dropdown-item text-default" href="#">
                  <i class="fas fa-sign-out-alt mr-2"></i>
                  Đăng xuất
                </a>
              </div>
            </div>
          </nav>
        </div>
        <div class="row">
          <div class="col">
            <div class="inner-layout">Inner Layout</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="footer" style="height: 1000px">Footer</div>
          </div>
        </div>
      </div> -->
  <script src="../assets/js/sidebar.js"></script>
  <script src="../assets/js/jquery.twbsPagination.js"></script>
  <script src="../assets/js/paging.js"></script>
  <script src="../assets/js/main.js"></script>
</body>

</html>