<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Đăng nhập</title>
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
  <script src="../../assets/js/jquery-3.6.0.min.js"></script>
  <script src="../../assets/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="../../assets/css/all.min.css" />
  <link rel="stylesheet" href="../../assets/css/main.css" />
  <script src="../../assets/js/loading.js"></script>
</head>

<body>
  <div class="loading text-center">
    <div class="spinner-border spinner-border-lg text-primary" role="status" aria-hidden="true"></div>
    <span class="my-5">
      <span class="h3 font-weight-bold">Đang tải</sp>
      <div class="spinner-grow spinner-grow-xs text-primary mx-1 my-1" role="status"></div>
      <div class="spinner-grow spinner-grow-xs text-red mx-1 my-1" role="status"></div>
      <div class="spinner-grow spinner-grow-xs text-green mx-1 my-1" role="status"></div>
    </span>
  </div>

  <div class="app-container container-fluid bg-plum-plate d-flex">
    <div class="container-lg d-flex flex-column justify-content-around">
      <div class="row justify-content-center">
        <div class="col-sm-7 col-md-6 text-center">
          <p class="tite h1 text-red py-4 text-uppercase">Covid-webapp</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-7 col-md-6">
          <form class="card shadow" action="#" method="POST" novalidate>
            <h4 class="card-header text-capitalize pl-4">Đăng nhập</h4>
            <div class="card-body p-4">
              <div class="form-group">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                  title="Username" rules="required" />
                <span class="invalid-feedback"></span>
              </div>

              <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu"
                  title="Mật khẩu" rules="required" />
                <span class="invalid-feedback"></span>
              </div>

              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="keeping" name="keeping" />
                <label class="form-check-label" for="keeping" style="font-size: 1rem">Duy trì đăng nhập</label>
              </div>
              <button type="submit" class="
                    btn btn-red
                    text-white
                    font-weight-bold
                    w-100
                    mb-1
                    text-uppercase
                  " role="submit">
                Đăng nhập
              </button>
              <a href="./forgotPassword.html" class="card-link" style="font-size: 0.85rem">Quên mật khẩu</a>
            </div>
            <div class="card-footer text-center">
              <p class="text-muted d-inline-block m-0">
                Bạn chưa có tài khoản?
              </p>
              <a href="./signUp.html" class="card-link">Đăng ký ngay</a>
            </div>
          </form>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-7 col-md-6">
          <p class="mt-5 mb-3 text-center mb-auto">
            Copyright &copy; 2021-2022 by ....
          </p>
        </div>
      </div>
    </div>
  </div>

  <script src="../../assets/js/popper.min.js"></script>
  <script src="../../assets/js/bootstrap.min.js"></script>
  <script src="../../assets/js/all.min.js"></script>
  <script src="../../assets/js/validator.js"></script>
  <script>
    $(function () {
      Validator('form');
    });
  </script>
</body>

</html>