<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng ký</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="../assets/css/main.css" />
  </head>

  <body>
    <div class="app-container container-fluid bg-plum-plate d-flex">
      <div class="container-lg d-flex flex-column justify-content-around">
        <div class="row justify-content-center">
          <div class="col-sm-6 text-center">
            <p class="tite h1 text-red py-4 text-uppercase">Covid-webapp</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-6">
            <form class="card shadow" action="#" method="POST" novalidate>
              <h4 class="card-header text-capitalize  pl-4">Đăng ký</h4>
              <div class="card-body p-4">
                <div class="form-row">
                  <!-- <label class="mb-1" for="fullName">Họ và tên</label> -->
                  <div class="form-group col-lg-6">
                    <!-- <label class="mb-1" for="fullName">Họ và tên</label> -->
                    <input
                      type="text"
                      class="form-control"
                      id="surName"
                      name="surName"
                      placeholder="Họ"
                        title="Họ"
                      rules="alpha"
                    />
                    <span class="invalid-feedback"></span>
                  </div>
                  <div class="form-group col-lg-6">
                    <input
                      type="text"
                      class="form-control"
                      id="firstName"
                      name="firstName"
                      placeholder="Tên"
                        title="Tên"
                      rules="alpha"
                    />
                    <span class="invalid-feedback"></span>
                  </div>
                </div>

                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Username"
                    title="Username"
                    rules="required"
                  />
                  <span class="invalid-feedback"></span>
                </div>

                <div class="form-group">
                  <!-- <label class="mb-1" for="password">Mật khẩu</label> -->
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Mật khẩu"
                    title="Mật khẩu"
                    rules="required|strong|min:8"
                    required
                  />
                  <span class="invalid-feedback"></span>
                </div>

                <div class="form-group">
                  <!-- <label class="mb-1" for="repeatpwd">Nhập lại mật khẩu</label> -->
                  <input
                    type="password"
                    class="form-control"
                    id="confirm"
                    name="confirm"
                    placeholder="Xác nhận"
                    title="Xác nhận"
                    rules="equal:#password"
                  />
                  <span class="invalid-feedback"></span>
                </div>

                <div class="form-group form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="agreement-check"
                    name="agreement-check"
                    placeholder="Đồng ý"
                    title="Đồng ý"
                    value=""
                    rules="checkedRequired"
                    />
                  <label
                    class="form-check-label"
                    for="agreement-check"
                    style="font-size: 1rem"
                    >Tôi đồng ý về Điều khoản dịch vụ & Chính sách bảo
                    mật</label
                  >
                  <span class="invalid-feedback"></span>
                </div>

                <button
                  type="submit"
                  class="
                    btn btn-red
                    text-white
                    font-weight-bold
                    w-100
                    mb-1
                    text-uppercase
                  "
                >
                  Tạo Tài khoản
                </button>
              </div>
              <div
                class="
                  card-footer
                  d-inline-flex
                  flex-wrap
                  justify-content-center
                "
              >
                <p class="text-muted d-inline-block m-0">
                  Bạn đã có tài khoản?
                </p>
                <div class="d-flex">
                  <a href="./login.html" class="card-link px-1">Đăng nhập</a>
                  <sp class="vr"></sp>
                  <a href="./forgotPassword.html" class="card-link m-0 px-1">Quên mật khẩu</a>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-sm-6">
            <p class="mt-5 mb-3 text-center mb-auto">
              Copyright &copy; 2021-2022 by ....
            </p>
          </div>
        </div>
      </div>
    </div>

    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/validator.js"></script>
    <script>
      $(document).ready(function() {
        Validator('form');
      })
    </script>
  </body>
</html>
