<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    {{>(cssP)}}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md">
            {{>(navP)}}
        </div>
      </div>
      <div class="row py-2">
        <div class="mx-auto">
            {{{body}}}
        </div>
      </div>
      <div class="row py-2">
        <div class="mx-auto">
            {{>(footerP)}}
        </div>
      </div>
    </div>
      {{>(scriptP)}}
  </body>
</html>