{{#each accounts}}
  {{this.f_ID}}
  <br />
  {{this.f_Username}}
  <br />
  {{this.f_Password}}
{{/each}}
<form class="form" action="/account/create" method="get" style="width:40vw" onsubmit="setTimeout(function(){window.location.reload();},100);">
  <button type="submit" class="btn btn-default btn-success">
    Add New Account
  </button>
</form>
<form
  class="form"
  action="/account/create_quarantinelocation"
  method="get"
  style="width:40vw"
  onsubmit="setTimeout(function(){window.location.reload();},100);"
>
  <button type="submit" class="btn btn-default btn-success">
    Add New Quarantine Location
  </button>
</form>