{{#each accounts}}
  <a href="/account/{{this.f_ID}}">{{this.f_Username}}</a>
  <br />
{{/each}}
<form class="form" action="/account/create" method="get" style="width:40vw" onsubmit="setTimeout(function(){window.location.reload();},100);">
  <button type="submit" class="btn btn-default btn-success">
    Add New Account
  </button>
</form>
<form class="form" action="/ql" method="get" style="width:40vw">
  <button type="submit" class="btn btn-default btn-success">
    Manage Quarantine Location
  </button>
</form>