{{account.f_Username}}
<br />
{{#if msg}}
  <h6><span class="badge badge-danger">{{msg}}</span></h6>
{{/if}}
<br />
<b>History Of Account</b>
<br />
{{#each account.f_History}}
  {{this}}
  <br />
{{/each}}
<form
  class="form"
  action="/account/{{account.f_ID}}"
  method="post"
  style="width:40vw"
  onsubmit="setTimeout(function(){window.location.reload();},100);"
>
  <button type="submit" class="btn btn-default btn-success">
    Lock/Unlock User
  </button>
</form>