{{! BODY }}
<div class="col-lg-auto col-auto content">
  <div class="row">
    <nav class="navbar navbar-light align-items-center justify-content-between">
      <form class="form-inline">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Tìm kiếm"
          aria-label="Search"
        />
        <button class="btn btn-outline-green my-2 my-sm-0" type="submit">Tìm
          kiếm</button>
      </form>
      <div class="dropdown">
        <a
          class="nav-link dropdown-toggle p-0"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          <img src="../img/avt.jpg" class="rounded avt-sm" alt="...">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item text-default" href="#">
            <i class="fas fa-user mr-2"></i>Tài khoản của tôi
          </a>
          <a class="dropdown-item text-default" href="#">
            <i class="fas fa-sign-out-alt mr-2"></i>Đăng xuất
          </a>
        </div>
      </div>
    </nav>
  </div>
  <div class="row">
    <div class="col">
      <div class="inner-layout">
        Inner Layout</div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="footer" style="height: 1000px">Footer</div>
    </div>
  </div>
</div>

{{! DEFINE a 'sidebar' SECTION }}
{{#section "sidebar"}}
  <div class="col-3 sidebar-wrapper">
    <nav class="card shadow sidebar">
      <h5 class="card-header d-flex justify-content-between align-items-center">
        <span class="sidebar-section text-nowrap">Covid-Webapp</span>
        <a id="toggle-collapse-btn" class="text-decoration-none" role="button">
          <div class="fs-2 text-red sidebar__nav-icon"></div>
        </a>
      </h5>
      <div class="sidebar__inner">
        <ul class="list-group vertical-nav-menu" style="font-size: 0.9rem">
          <li class="list-group-item">
            <a href="/manager/dashboard" class="card-link">
              <i class="bi bi-house-door-fill"></i>
              <span class="sidebar-section pl-2">
                Dashboard
              </span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="/manager/people" class="card-link active">
              <i class="bi bi-people-fill"></i>
              <span class="sidebar-section pl-2">
                Người liên quan Covid-19
              </span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="/manager/necessities" class="card-link">
              <i class="fas fa-fish"></i>
              <span class="sidebar-section pl-2"> Nhu yếu phẩm </span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="/manager/packages" class="card-link">
              <i class="fas fa-box"></i>
              <span class="sidebar-section pl-2">
                Gói nhu yếu phẩm
              </span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
{{/section}}

{{#section "script"}}
  <script src="../js/content.js"></script>
{{/section}}