<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Người dùng</title>
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../assets/css/all.min.css" />
  <script src="../../assets/js/jquery-3.6.0.min.js"></script>
  <script src="../../assets/js/popper.min.js"></script>
  <script src="../../assets/js/bootstrap.min.js"></script>
  <script src="../../assets/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/js/all.min.js"></script>
  <link rel="stylesheet" href="../../assets/css/main.css" />
</head>

<body>
  <header id="main-navbar" class="navbar navbar-expand-lg navbar-light sticky-top">
    <h3 class="my-0 flex-md-grow-1 text-center text-md-left text-default" href="#">COVID-WEBAPP</h3>
    <form
      class="form-inline my-2 mx-3 border border-dark rounded-pill overflow-hidden flex-grow-1 flex-md-grow-0 flex-lg-grow-1 bg-white order-1 order-sm-0">
      <div class="input-group flex-grow-1">
        <input class="form-control border-0  shadow-none" type="text" placeholder="Tìm kiếm" aria-label="Search"
          name='search'>
        <div class="input-group-prepend">
          <button class="btn text-center" type="submit"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </form>
    <button class="order-n1 navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#sidebar"
      aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <button class="navbar-toggler  border-0" type="button" data-toggle="collapse" data-target="#account-menu"
      aria-controls="account-menu" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-ellipsis-v"></i>
    </button>
    <div class="collapse navbar-collapse flex-grow-0 text-right" id="account-menu">
      <div class="btn-group nav-item dropdown ml-auto">
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="account-menu__sections">
          <a class="dropdown-item nav-link" href="#">
            <i class="fas fa-user mr-1 "></i>
            Tài khoản của tôi
          </a>
          <div class="dropdown-divider m-0"></div>
          <a class="dropdown-item" href="#">
            <i class="fas fa-sign-out-alt mr-1"></i>
            Lịch sử thanh toán
          </a>
          <a class="dropdown-item" href="#">
            <i class="fas fa-sign-out-alt mr-1"></i>
            Lịch sử điều trị
          </a>
          <div class="dropdown-divider m-0"></div>
          <a class="dropdown-item" href="#">
            <i class="fas fa-sign-out-alt mr-1"></i>
            Đăng xuất
          </a>
        </div>
      </div>
      </ul>
    </div>

    <div class="collapse navbar-collapse flex-grow-0 text-right" id="account-menu">
      <div class="btn-group nav-item dropdown ml-auto">
        <a class="nav-link dropdown-toggle text-default" href="#" id="account-menu__sections" role="button"
          data-toggle="dropdown" aria-expanded="false">
          <img src="../../assets/img/avt.jpg" alt="" srcset="" class="rounded-circle" style="width:42px">
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="account-menu__sections">
          <a class="dropdown-item nav-link" href="#">
            <i class="fas fa-user mr-1 "></i>
            Tài khoản của tôi
          </a>
          <div class="dropdown-divider m-0"></div>
          <a class="dropdown-item" href="#">
            <i class="fas fa-history mr-1"></i>
            Lịch sử thanh toán
          </a>
          <div class="dropdown-divider m-0"></div>
          <a class="dropdown-item" href="#">
            <i class="fas fa-history mr-1"></i>
            Lịch sử điều trị
          </a>
          <div class="dropdown-divider m-0"></div>
          <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
            <div class="">
              <i class="fas fa-bell mr-1"></i>
              Thông báo  
            </div>
            <span class="badge badge-primary">4</span>
          </a>
          <div class="dropdown-divider m-0"></div>
          <a class="dropdown-item" href="#">
            <i class="fas fa-sign-out-alt mr-1"></i>
            Đăng xuất
          </a>
        </div>
      </div>
      </ul>
    </div>
  </header>
  <div class="main-content container-fluid">
    <div class="row">
      <nav class="col-md-3 col-lg-2 collapse navbar-collapse d-lg-block shadow sidebar" id="sidebar">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center justify-content-md-start justify-content-center my-2 active"
                href="#" aria-current="page">
                <i class="fas fa-home"></i>
                <span class="ml-2">Thông tin cá nhân</span>
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center justify-content-md-start justify-content-center my-2"
                href="#">
                <i class="fas fa-users"></i>
                <span class="ml-2">Shopping</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center justify-content-md-start justify-content-center my-2"
                href="#">
                <i class="fas fa-fish"></i>
                <span class="ml-2">Liên kết hệ thống thanh toán</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <main class=" pt-4 ml-sm-auto col-lg-10">
        <!-- Danh sách người covid 19 -->
        <div id="content-1" class="content shadow border rounded container-fluid">
          <div class="row pt-3">
            <div class="col-12 h-100">
              <p id="product-name" class="title text-blue text-center text-md-left border-bottom text-uppercase"
                style="font-size: 1.8rem; font-weight: bold;">Thông tin cá nhân</p>
            </div>
          </div>

          <!-- INFORMATION -->
          <div id="content-1" class="content shadow border rounded p-2" value="people">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-3">
                        <img src="../../assets/img/avt.jpg" alt="Ảnh đại diện" srcset="" class="img-thumbnail img-fluid mt-3" style="width: 100%;">
                    </div>
                    <div class="col-sm-9">
                        <p class="title text-blue text-center text-sm-left my-3" style="font-size: 1.8rem">Nguyễn Tuấn Khanh</p>
                        <div class="container info-details border border-bottom-0">
                            <div class="row border-bottom">
                                <div class="col-4 text-right bg-light py-1">Ngày sinh</div>
                                <div class="col-8 py-1" style="font-weight: 500;">10/11/2001</div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-4 text-right bg-light py-1">CMND</div>
                                <div class="col-8 py-1" style="font-weight: 500;">123456789012</div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-4 text-right bg-light py-1">Địa chỉ</div>
                                <div class="col-8 py-1" style="font-weight: 500;">Bình Phước</div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-4 text-right bg-light py-1">Trạng thái</div>
                                <div class="col-8 py-1" style="font-weight: 500;">F1</div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-4 text-right bg-light py-1">Nơi điều trị/cách ly</div>
                                <div class="col-8 py-1" style="font-weight: 500;">Bình Phước</div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-4 text-right bg-light py-1">Những người liên đới</div>
                                <div class="col-8 py-1" style="font-weight: 500;">
                                    Bùi Lê Tuấn Anh,  Huỳnh Minh Thắng, Phạm Tiến Khải
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 mb-5">
                    <div class="col-12">
                        <h5>Lịch sử điều trị:</h5>
                        <div class="history-progress">
                            Bù Gia Mập &rarr; Đồng Xoài &rarr; Bù Đăng &rarr; Bù Gia Mập
                        <!-- description -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

          <!-- PAGINATION -->
          <nav id="main-pagination" class="mt-3" aria-label="Search results pages"></nav>
        </div>
        <footer class="container-fluid py-3 my-4 border-top">
          <div class="d-flex align-items-center justify-content-center">
            <span class="text-muted">© 2021 Company, Inc</span>
          </div>
        </footer>
      </main>
    </div>
  </div>
  <script src="../../assets/js/sidebar.js"></script>
  <script src="../../assets/js/main.js"></script>
</body>

</html>