<form class="form" action="/auth/changepassword" method="post" style="width:50vw">
  <h1 class="display-5">CHANGE PASSWORD</h1>
  <div class="form-group">
    <label for="oldPassword">Enter Old Password</label>
    <input type="password" class="form-control" id="oldPassword" placeholder="oldPassword" name="oldPassword" value="{{data.oldPassword}}" />
  </div>
  <div class="form-group">
    <label for="newPassword">New Password</label>
    <input type="password" class="form-control" id="newPassword" placeholder="newPassword" name="newPassword" value="{{data.newPassword}}" />
  </div>
  <div class="form-group">
    <label for="confirmNewPassword">Confirm New Password</label>
    <input
      type="password"
      class="form-control"
      id="confirmNewPassword"
      placeholder="confirmNewPassword"
      name="confirmNewPassword"
      value="{{data.confirmNewPassword}}"
    />
  </div>
  {{#if err}}
    <div class="alert alert-danger" role="alert">
      {{err}}
    </div>
  {{/if}}
  <button type="submit" class="btn btn-block btn-success">
    Confirm Change
  </button>
</form>