<form
  class="form"
  action="/user/{{user.f_ID}}?_method=PUT"
  method="post"
  style="width:40vw"
  onsubmit="setTimeout(function(){window.location.reload();},100);"
>
  <h1 class="display-5">CHANGE COVID ADDRESS</h1>
  Old Covid Address:
  {{user.f_CovidAddress}}
  <div class="form-group mt-3">
    <label for="f_CovidAddress">New Covid Address</label>
    <input type="text" class="form-control" id="f_CovidAddress" placeholder="New Covid Address" name="f_CovidAddress" />
  </div>
  <button class="btn btn-block btn-outline-danger my-3 my-sm-0" type="submit">CONFIRM CHANGE</button>
</form>