{{! DEFINE A 'content' SECTION }}
{{#section "content"}}
    <div id="content-1" class="content shadow border rounded p-2 py-3">
        <div class="container-fluid pt-3 pb-5">
            <div class="row">
            <div class="col-12">
                <p class="title text-blue text-center text-sm-left font-weight-bold" style="font-size: 1.8rem">THÊM NGƯỜI LIÊN QUAN</p>
            </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Begin: Form thêm người liên quan -->
                    <form action="#" method="post" id="add-people-form">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        <label for="surname-input" class="font-weight-bold">Họ & tên lót</label>
                        <input id="surname-input" type="text" class="form-control" title="Họ & tên lót" name="surname" rules="required|alpha">
                        <span class="invalid-feedback"></span>
                        </div>
                        <div class="form-group col-md-6">
                        <label for="firstname-input" class="font-weight-bold">Tên</label>
                        <input id="firstname-input" type="text" class="form-control" title="Tên" name="first" rules="required|alpha">
                        <span class="invalid-feedback"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        <label for="birthday-input" class="font-weight-bold">Ngày sinh</label>
                        <input type="date" class="form-control" id="birthday-input" title="Ngày sinh" name="birthday" rules="required">
                        <span class="invalid-feedback"></span>
                        </div>
                        <div class="form-group col-md-6">
                        <label for="idcard-input" class="font-weight-bold">CMND/CCCD</label>
                        <input type="text" class="form-control" id="idcard-input" title="CMND/CCCD" name="idcard" rules="min:8|max:12">
                        <span class="invalid-feedback"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        <label for="status-input" class="font-weight-bold">Trạng thái</label>
                        <select id="status-input" class="form-control status" name="status" title="Trạng thái" rules="required">
                            <option value='F0'>F0</option>
                            <option value='F1'>F1</option>
                            <option value='F2'>F2</option>
                            <option value='F3'>F3</option>
                            <option value='Khỏi bênh'>Khỏi bênh</option>
                            <option value='Khác'>Khác</option>
                        </select>
                        <span class="invalid-feedback"></span>
                        </div>
                        <div class="form-group col-md-6">
                        <label for="treatment-place-input" class="font-weight-bold">Nơi điều trị/cách ly</label>
                        <input type="text" class="form-control" id="treatment-place-input" title="Nơi điều trị/cách ly" name="treatment_place">
                        <span class="invalid-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="people-relative-input" class="font-weight-bold">Những người liên đới</label>
                        <input type="text" class="form-control" id="people-relative-input" name="people_relative">
                        <span class="invalid-feedback"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-check mr-1"></i>
                        Thêm người
                    </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{{/section}}

{{! DEFINE A 'script' SECTION }}
{{#section "script"}}{{/section}}