<div id="content-1" class="content shadow border rounded container-fluid mb-5">
    <div class="row pt-3 border-bottom">
        <div class="col-12 col-lg-8 h-100">
            <p id="product-name" class="title text-blue text-center text-md-left text-uppercase"
                style="font-size: 1.8rem; font-weight: bold;">Thống kê người liên quan Covid-19</p>
        </div>
        <div class="col-12 col-lg-4">
      <form id="filterby-form" class="form-inline" action="/statistic/sta" method="post">
        <div class="form-group mb-2">
          <label for="filter-by"><i class="fas fa-calendar-alt"></i></label>
          <select class="form-control shadow-none custom-select filterby mx-sm-2" id="filter-by" aria-label="filter-by" name="filter_by">
            <option value="1/2022">1/2022</option>
            <option value="12/2021">12/2021</option>
            <option value="11/2021">11/2021</option>
          </select>
        </div>
        <button type="submit" class="btn btn-success">Tìm kiếm</button>
      </form>
        </div>
    </div>
    <!-- STATISTICS -->
    <!-- THỐNG KÊ NGƯỜI LIÊN QUAN -->
    <div class="row my-3 justify-content-between align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-5 col-12">
            <div class="table-responsive-xl table-hover">
                <table class="table table-content border mb-0 menu">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col d-flex align-items-center">#</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col" class="text-center">Tổng số người</th>
                        </tr>
                    </thead>
                    {{#if status}}
                    <tbody>
                        {{#each status}}
                            <tr class="section">
                                <th scope="row">{{sum @index 1}}</th>
                                <td class="status">
                                    F{{this.f_Fx}}
                                </td>
                                <td class="quantity text-center">
                                    {{this.soluong}}
                                </td>
                            </tr>
                        {{/each}}
                        <tr class="section total-row font-weight-bold">
                            <th scope="row" colspan="2">Tổng</th>
                            <td id="total" class="number-total text-center"></td>
                        </tr>
                    </tbody>
                    {{else}}
                        <h3 class="text-uppercase">Không có dữ liệu</h3>
                    {{/if}}
                </table>
            </div>
        </div>
        {{#if status}} 
            <div class="col-md-7 col-12 d-flex justify-content-center">
                <canvas id="people-chart"></canvas>
            </div>
        {{/if}}
    </div>
</div>

{{#section css}}
    
{{/section}}

{{#section 'script'}}
    {{#if status}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>       
    <script>
        $(document).ready(function() {
            let total = 0;
            $(".quantity").each(function() {
                total = total + parseInt($(this).text());
                console.log(total);
                if(total) {
                    $("#total").text(total);
                } else {
                    $("#total").text(0);
                }
            })

            var xValues = [], yValues = [];
                    
            $(".status").each(function() {
                xValues.push($(this).text().trim());
            });

            $(".quantity").each(function() {
                yValues.push(parseInt($(this).text()));
            });

            console.log(xValues);
            console.log(yValues);

            var barColors = [ '#f57a75', '#BDD5EA', '#8be4ba','#49c6c5', '#3a59bf'];
            new Chart("people-chart", {
                type: "pie",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: "Thống kê người liên quan Covid-19",
                        fontSize: 20,
                    },
                    legend: {
                        position: 'bottom',
                    }
                },
            });
        });

                    

        </script>
    {{/if}}
{{/section}}