<div id="content-1" class="content shadow border rounded p-2 py-3">
    <div class="container-fluid pt-3 pb-5">
        <div class="row">
            <div class="col-12">
                <p class="title text-blue text-center text-sm-left font-weight-bold" style="font-size: 1.8rem">THÊM NHU
                    YẾU PHẨM</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form id="edit-form" action="/product/add" method="POST">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="name-input" class="font-weight-bold">Tên</label>
                            <input id="name-input" type="text" class="form-control" name="f_Name" rules="required"
                                title="Tên" />
                            <span class="invalid-feedback"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="price-input" class="font-weight-bold">Đơn giá</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="price-input" name="f_Price" rules="required"
                                    title="Đơn giá" />
                                <div class="input-group-append">
                                    <span class="input-group-text">đ</span>
                                </div>
                                <span class="invalid-feedback"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="unit-input" class="font-weight-bold">Đơn vị định
                                lượng</label>
                            <input type="text" class="form-control" id="unit-input" name="f_Unit" rules="required"
                                title="Đơn vị định lượng" />
                            <span class="invalid-feedback"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12 text-truncate">
                            <label for="images-input" class="font-weight-bold">Thêm ảnh</label>
                            <div class="input-group mb-3 w-100">
                                <a id='add-input-btn' role="button" class="btn plus-button text-red" type="button">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                <div class="form-group flex-grow-1 image-input-group">
                                    <div class="d-flex image-input">
                                        <input type="text" class="form-control mb-2" name="f_Images" value="">
                                        <a role="button" class="btn minus-button text-red"
                                            type="button" onclick="decrease(this)">
                                            <i class="fas fa-minus-circle"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-check mr-1"></i>
                        Thêm nhu yếu phẩm
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- {{! DEFINE A 'script' SECTION }} -->
{{#section "script"}}
<script src="/js/validator.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
<script>
    var decrease;
    $(document).ready(function () {
        bsCustomFileInput.init();
        Validator('#edit-form');
        $("#add-input-btn").click(function () {
            $(".image-input-group").append(`
                <div class="d-flex image-input">
                    <input type="text" class="form-control mb-2" name="f_Images" value="">
                    <a role="button" class="btn minus-button text-red"
                        type="button" onclick="decrease(this)">
                        <i class="fas fa-minus-circle"></i>
                    </a>
                </div>
            `)
                        console.log($("#edit-form").find('input').length)
            Validator('#edit-form');
        })

        decrease = function(object) {
            $(object).parents(".image-input").remove();
        }
    })

</script>
{{/section}}